<%= form_for(article) do |f| %>
  <div class="form-group my-4">
    <%= f.label :title %>
    <%= f.text_field :title, class:'form-control' %>
  </div>
  <div class="form-group my-4">
    <%= f.label :content %>
    <%= f.text_field :content, class:'form-control' %>
  </div>
  <%= f.submit class:'btn btn-outline-secondary my-4'%>
<% end %>
